/* @import 'tailwindcss';
@layer theme, base, components, utilities;
@tailwind utilities; */
/* @import 'tailwindcss/preflight';  */
/* Use in Tailwind v4 instead of '@tailwind base' */
/* @tailwind utilities; */
@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary-50: #faf7ec;
  --color-primary-100: #f4ebcd;
  --color-primary-200: #ebd59d;
  --color-primary-300: #dbb052;
  --color-primary-400: #d49d3b;
  --color-primary-500: #c5892d;
  --color-primary-600: #a96a25;
  --color-primary-700: #884d20;
  --color-primary-800: #714022;
  --color-primary-900: #613622;
  --color-primary-950: #381b10;

  --color-secondary-50: #e9f9ff;
  --color-secondary-100: #cef2ff;
  --color-secondary-200: #a7eaff;
  --color-secondary-300: #6be1ff;
  --color-secondary-400: #26cbff;
  --color-secondary-500: #00a4ff;
  --color-secondary-600: #007aff;
  --color-secondary-700: #005fff;
  --color-secondary-800: #0051e6;
  --color-secondary-900: #004ab3;
  --color-secondary-950: #00357b;

  --font-vazir: 'vazir';
}

@font-face {
  font-family: 'vazir';
  src: local('vazir'),
    url('../assets/fonts/Vazirmatn-FD-Regular.woff2') format('woff2');
}

.rtl *.p-breadcrumb-chevron {
  transform: rotate(180deg);
}
html,
body,
* {
  /* font-family: 'vazir'; */
}
input,
.p-dropdown-label {
  font-family: 'vazir' !important;
}
